body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: 0;
    overflow-x: hidden;
}
nav{
    position: fixed;
    background:rgb(255,255,255);
    top:0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid red;
}
.nav-icones{
 
    width: 1rem;
    display:flex ;

   
}
.logo{
    width: 15rem;
    height: 3rem;
 
}

}